{{ define "title" -}}
    About this service
{{- end }}
{{ define "content" }}
    <h1>このサービスについて</h1>
    <p>KVSとしてのDataStoreの使い勝手を把握するために作ったものです。下記の技術・ライブラリ・テーマを利用しています。</p>
    <ul>
      <li><a href="https://cloud.google.com/appengine/">Google App Engine</a></li>
      <li><a href="https://cloud.google.com/datastore/">Cloud DataStore</a></li>
      <li><a href="https://golang.org">Go</a></li>
      <li><a href="https://github.com/mjibson/goon">mjibson/goon</a></li>
      <li><a href="https://github.com/gorilla/mux">gorilla/mux</a></li>
      <li><a href="http://honokak.osaka/">Honoka</a></li>
    </ul>
{{ end }}
