{{ define "variables" -}}
    {{ set . "_gl_nav" "contact" -}}
{{ end }}
{{ define "title" -}}
    Contact
{{- end }}
{{ define "css" }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{ end }}
{{ define "content" }}
    {{/* stolen from http://bootsnipp.com/snippets/featured/profile-card */}}
    <div class="container">
      <div class="starter-template">
        <h1>Contact</h1>
	      <div class="row">
		      <div class="col-lg-3 col-lg-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card hovercard">
              <div class="cardheader">
              </div>
              <div class="avatar">
                <img alt="" src="https://avatars1.githubusercontent.com/u/27699">
              </div>
              <div class="info">
                <div class="title">
                  hnw
                </div>
                <div class="desc">Project owner</div>
                <div class="desc">GAE beginner</div>
              </div>
              <div class="bottom">
                <a class="btn btn-sm btn-twitter" rel="publisher" href="https://twitter.com/hnw">
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
                <a class="btn btn-sm btn-github" rel="publisher" href="https://github.com/hnw"><i class="fa fa-2x fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
{{ end }}
