{{ define "title" -}}
    {{.bbs.Name}}
{{- end }}
{{ define "content" }}
    <h1>{{ .bbs.Name }}</h1>

    <hr>

    <form action="/bbs/{{ .bbs.ID }}/posts" method="POST" class="form-horizontal">
      <div class="form-group">
        <label for="inputSubject" class="col-sm-2 control-label">題名</label>
        <div class="col-sm-10">
          <input name="subject" type="text" class="form-control" id="inputSubject" placeholder="Subject">
        </div>
      </div>
      <div class="form-group">
        <label for="inputUserName" class="col-sm-2 control-label">投稿者</label>
        <div class="col-sm-10">
          <input name="user_name" type="text" class="form-control" id="inputUserName" placeholder="Your name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMessage" class="col-sm-2 control-label">メッセージ</label>
        <div class="col-sm-10">
          <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">投稿</button>
        </div>
      </div>
    </form>

    <hr>
    
    {{ range .posts }}
    <div>
      <h2>{{ .Subject }}</h2>
      <p>{{ .Message }}</p>
      <footer>
        <p class="text-right">{{ .CreatedAt.Local.Format "2006年1月2日 15時4分5秒" }} by <strong>{{ .UserName }}</strong></p>
      </footer>
    </div>

    <hr>
    {{end}}

    <a href="/bbs/{{ .bbs.ID }}/posts">最新へ</a>
    {{ if .next_cur }}
     | <a href="/bbs/{{ .bbs.ID }}/posts?offset={{ .next_cur }}">次へ</a>
    {{ end }}
{{ end }}
