{{ define "title" }}
    {{.bbs.Name}}
{{ end }}
{{ define "content" }}
    <h1>{{.bbs.Name}}</h1>

    <hr>

    <form action="/bbs/{{.bbs.ID}}/posts" method="POST">
      <ul>
        <li>
          題名：<input type="text" name="subject" VALUE="" SIZE="36" MAXLENGTH="60">
        </li>
        <li>
          投稿者：<input type="text" name="user_name" VALUE="" SIZE="20" MAXLENGTH="24">
        </li>
        <li>
          <textarea name="message" rows="" cols="82">
          </textarea>
        </li>
      </ul>
      <input type="submit">
    </form>

    <hr>
    
    {{range .posts}}
    <div>
      <h2><small>題名：</small>{{.Subject}}</h2>
      <h3><small>投稿者：</small>{{.UserName}}</h3>
      <h4><small>日付：</small>{{.CreatedAt.Local.Format "2006年1月2日 15時4分5秒"}}</h4>
      <p>{{.Message}}</p>
      
    </div>

    <hr>
    {{end}}
{{ end }}
